a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

span {
  padding-left: 6px;
  display: inline-block;
}